/*!
 * Start Bootstrap - Portfolio Item (https://startbootstrap.com/template-overviews/portfolio-item)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-portfolio-item/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.form {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}
.cont {
	font-size: 24px;
	color: black;
	font-family: 'Century Gothic', 'Apple Gothic', sans-serif;
	background-color: #f0f0f0;
	padding: 20px;
	padding-bottom: 15%;
}


a{
	color:#26a5d3;
}
a:hover,a:focus{
	text-decoration:none;
	color:#26a5d3;
}

#contact{
	background:#343a40;
	color:#f4f4f4;
	padding-bottom:80px;
}

textarea.form-control{
    height:100px;
}